.venv
dist
dist-pypi
build
__pycache__
*.pyc
.pytest_cache
.cache
.tox
*.egg-info
.eggs
.DS_Store
.git
.github
node_modules
venv
env
ENV
*.log
*.sqlite3
*.db
secrets
*.pem
*.key
local_settings.py
coverage.xml
htmlcov
pip-wheel-metadata
__pypackages__
/.venv
/.venv/*
/.git
/.github
.vscode
